$worksans: 'Work Sans', sans-serif;

.container {
	height: 100vh;
	font-family: $worksans;
	padding: 0 10px;
	.content {
		background-color: #060606;
		width: 100%;
		max-width: 600px;
		padding: 30px;
		border-radius: 10px;
		.validate {
			padding-top: 20px;
		}
	}
	@media (max-width: 416px) {
		.content {
			padding: 15px;
			.error {
				font-size: 0.9em;
			}
		}
	}
}
