.parent {
	height: 100vh;
	padding: 0 10px;
	.container {
		background-color: #060606;
		padding: 25px;
		border-radius: 10px;
		width: 100%;
		max-width: 600px;
		.router {
			padding-top: 20px;
			.link {
				color: gray;
				cursor: pointer;
			}
		}
	}
	@media (max-width: 464px) {
		.container {
			padding: 20px;
		}
	}

	@media (max-width: 374px) {
		.container {
			.router {
				flex-direction: column;
				justify-content: flex-start;
				span {
					font-size: 1em;
					margin-top: 10px;
				}
			}
		}
	}
}
