.parent {
	height: 100vh;
	padding: 0 10px;
}

.container {
	background-color: #262626;
	padding: 25px;
	border-radius: 10px;
	width: 100%;
	max-width: 600px;
}

.section {
	padding: 10px 0 0 0;
}

.title {
	font-size: 2em;
	margin-top: 15px;
}

.input {
	color: white;
	padding: 15px;
	font-size: 1.5em;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.04);
	margin-top: 15px;
}

.error {
	color: red;
	font-size: 1.3em;
	margin-top: 7px;
}

.link {
	color: gray;
	cursor: pointer;
}

@media (max-width: 464px) {
	.btn {
		max-width: 115px;
		font-size: 1.5em;
	}
	.error {
		font-size: 1em;
	}
	.container {
		padding: 20px;
	}
	.title {
		margin-top: 5px;
		font-size: 1.5em;
	}
	.input {
		padding: 10px;
		font-size: 1.3em;
	}
}

@media (max-width: 362px) {
	.error {
		font-size: 0.9em;
	}
	.router {
		flex-direction: column;

		span {
			font-size: 1em;
			margin-top: 10px;
			margin-right: auto;
		}
	}
}
