.container {
	height: 100vh;
	padding: 0 10px;
	.content {
		padding: 30px;
		background-color: #060607;
		width: 100%;
		max-width: 600px;
		border-radius: 10px;
		section {
			.avatar {
				border-radius: 50%;
				width: 100%;
			}
			h1 {
				font-size: 1.7em;
			}
		}
		.navigate {
			padding-top: 20px;
		}
	}
	@media (max-width: 486px) {
		.content {
			padding: 20px;
			section {
				font-size: 1.5em;
			}
		}
	}
}
