.container {
	background-color: #060607;
	width: 100%;
	border-radius: 10px;
	.img {
		max-height: (1400px / 230px * 100%);
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	.content {
		padding: 10px;
		h1,
		h2 {
			font-size: 1.3em;
			font-family: 'Work Sans', sans-serif;
			margin-top: 10px;
		}
		.btn {
			padding-top: 10px;
		}
	}
	@media (max-width: 300px) {
		.content {
			h1,
			h2 {
				font-size: 1em;
			}
		}
	}
}
